{block content}
	<h2 n:block="title" style="padding-right: 70px; padding-top: 28px; text-align: right;">
		OFFICIAL VIDEO
	</h2>
	<img src="{$basePath}/images/pumpkin.png" alt="Pixie Craft" class="box_img">
	<div class="content">
		<iframe width="700" height="385" src="//www.youtube.com/embed/mslWNaB5lq4" frameborder="0"
				allowfullscreen></iframe>
	</div>
{/block}